
/.envrc

/dist/

/doctl.egg-info/

/t.py

/docs/_build/doctrees/environment.pickle

/docs/_build/doctrees/environment.pickle

/docs/_build/doctrees/environment.pickle

/docs/_build/

/.vscode
/.pytest_cache
.DS_Store
