[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
ipython = "*"
sphinx = "*"
twine = "*"
doctl = {path="."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
