[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"delegator.py" = "*"
maya = "*"
appdirs = "*"
requests = "*"
requests-html = "*"

[dev-packages]
black = "*"
ipython = "*"
sphinx = "*"
twine = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
